
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Учитывает отступы и рамки в общей ширине/высоте */
}

/* Устанавливаем фон для всей страницы */
body {
    background-color: #f0f0f0; /* Можно заменить на нужный цвет фона */
}

/* Убираем белую полоску под синим (например, у body или header) */
body, html {
    height: 100%; /* Убедитесь, что высота страницы растягивается на весь экран */
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    background-color: #f3a7a7e8;
   
}

    .sidebar a {
        
        text-decoration: none;
        display: block;
    }

        .sidebar a:hover {
            background-color: #e7a3a3e8;
        }

.content {
    margin-left: 250px; /* Отступ для контента, чтобы не перекрывать боковую панель */
    padding: 20px;
    background-color: #1e3a8a; /* Синий фон для всего контента */
    color: white; /* Белый цвет текста на синем фоне */
    min-height: 100vh;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .content {
        margin-left: 0;
    }
}

.nav-tittle {
    padding: 10px 15px;
    color: #211497e8;
    font-size: 30px;
    font-family: "Scada", serif;
    font-weight: 700;
}

.nav-main-tittle {
    color: #211497e8;
    font-size: 20px;
    font-family: "Scada", serif;
    font-weight: 700;
    padding: 40px 15px;
}

.main-tittle {
    text-align: left;
    color: white;
    font-family: "Scada", serif;
    font-weight: 700;
    font-size: xxx-large;
}

.name-tittle {
    color: #f3a7a7e8;
    font-family: "Scada", serif;
    font-weight: 700;
    font-style: italic;
}

.just-text {
    text-align: left;
    color: white;
    font-family: "Scada", serif;
    font-weight: 700;
}
.content-wrapper {
    margin-top:60px;
    display: flex;
    justify-content: space-between; /* Распределение элементов по краям контейнера */
    align-items: center; /* Центрирование элементов по вертикали */
    gap: 20px; /* Расстояние между текстом и изображением */
}

.text-content {
    flex: 1; /* Текст будет занимать всё доступное пространство слева */
    max-width: 60%; /* Максимальная ширина текста */
}

.image-content {
    display: flex;
    justify-content: center; /* Центрирование изображения по горизонтали */
    align-items: center; /* Центрирование изображения по вертикали */
}

.image-frame {
    border: 10px solid pink; /* Розовая рамка вокруг изображения */
    padding: 20px; /* Отступ между картинкой и рамкой */
    display: inline-block; /* Рамка будет растягиваться по размерам изображения */
}

    .image-frame img {
        display: block; /* Убирает лишнее пространство под изображением */
        width: 100%; /* Ширина изображения будет адаптироваться к доступному пространству */
        max-width: 500px; /* Максимальная ширина картинки */
        height: auto; /* Сохраняет пропорции изображения */
    }

.end-text {
    margin-top:40px;
    text-align: left;
    color: white;
    font-family: "Scada", serif;
    font-weight: 700;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #f3a7a7e8; /* Розовая граница */
    border-radius: 5px;
    background-color: #fff0f6; /* Светлый розовый фон */
    color: white; /* Розовый цвет текста */
    outline: none; /* Убираем обводку при фокусе */
}

    .search-input:focus {
        border-color: #f3a7a7e8; /* Темно-розовый цвет границы при фокусе */
        background-color: #ffe6f2; /* Легкий розовый цвет фона при фокусе */
    }

.search-button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #f3a7a7e8; /* Розовый цвет кнопки */
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

    .search-button:hover {
        background-color: #ffe6f2; /* Темно-розовый цвет кнопки при наведении */
    }



.catalog-body {
    flex-grow: 1;
    min-width: 0;
    margin-right: 20px;
}

@media screen and (min-width: 992px) {
    .paper {
        border-radius: 8px;
        background: #f3a7a7e8;
    }
}

.le_f1 {
    padding: 12px 16px 8px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 12px;
}
.le_b2 {
    color: #1e3a8a;
    font-size: 30px;
    font-family: "Scada", serif;
    font-weight: 700;
}
.form-input {
    position: relative;
    flex-grow: 1;
    margin-bottom: 50px;
}
.le_b3 {
    grid-column: 1 / -1;
}

.form-input__icon {
    position: absolute;
    top: 0;
    z-index: 5;
    cursor: pointer;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #8a8a8e;
    color: var(--text-secondary);
}
.form-input__icon_left + .form-input__field {
    padding-left: 32px;
}

input.form-input__field, select.form-input__field, .form-input__placeholder {
    padding: 5px 12px;
}
.form-input__field {
    display: block;
    margin: 0;
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
    color: #212529;
    color: var(--text-primary);
    border: solid 1px #dcdee2;
    border: solid 1px var(--input-border);
    transition: border .2s ease-in-out, background .2s ease-in-out, box-shadow .2s ease-in-out;
}
.form-input__field {
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: #1e3a8a;
    font-family: "Scada", serif;
    font-weight: 700;
}

@media screen and (min-width: 992px) {
    .l_k {
        display: grid;
        grid-template-columns: 1fr 330px;
        gap: var(--gap);
        padding-top: var(--container-spacing);
        padding-bottom: var(--container-spacing);
    }
}
@media screen and (min-width: 992px) {
    ._container--indent {
        padding-left: var(--container-px);
        padding-right: var(--container-px);
    }
}
._container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.catalog-filter {
    position: sticky;
    top: 72px;
    z-index: 200;
    width: 330px;
    max-height: calc(100vh - 88px);
    overflow: hidden;
}

.filter-category-title {
    font-size: 25px;
    font-weight: bold;
    margin-top:10px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: left;
    color: #1e3a8a;
    font-family: "Scada", serif;
    font-weight: 700;
}

/* Контейнер для чекбоксов, два столбца */
.filter-options {
    display: flex;
    gap: 16px;
    margin: 10px; /* Расстояние между двумя столбцами */
}

/* Контейнер для каждого столбца с чекбоксами */
.filter-column {
    display: flex;
    flex-direction: column;
    gap: 8px; /* Отступ между чекбоксами в одном столбце */
}

/* Стили для чекбоксов */
.filter-options label {
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #1e3a8a;
    font-family: "Scada", serif;
    font-weight: 700;
}

.filter-options input {
    margin-right: 8px;
}


.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Отступы между карточками */
    justify-content: center;
    padding: 0 16px; /* Отступы по бокам контейнера */
}

/* Каждая карточка */
.card {
    width: calc(33.33% - 16px); /* Ширина карточки с учетом отступа */
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    padding: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background: #1e3a8a;
    border-color: #1e3a8a;
    margin-bottom: 10px;

}

    /* Стили для изображения в карточке */
    .card img {
        width: 100%; /* Задаем ширину изображения на 100% от родительского контейнера */
        height: 300px;
        border-radius: 5px;
    }

    /* Стили для названия в карточке */
    .card h3 {
        font-size: 22px;
        margin-top: 10px;
        color: white;
        font-family: "Scada", serif;
        font-weight: 700;
    }

.filter-actions {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    gap: 10px;
    margin-bottom:20px;
}

/* Стиль для кнопок */
.btn {
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary {
    background-color: #1e3a8a;
    color: #fff;
    border: none;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
    border: none;
}

    .btn-secondary:hover {
        background-color: #5a6268;
    }


.modal-content {
    background-color: #353232f5; /* Ваш желаемый цвет фона */
}

/* Изменяем цвет заголовка модального окна */
.modal-header {
    background-color: #ab8290; /* Ваш желаемый цвет фона для заголовка */
}

/* Изменяем цвет текста в модальном окне */
.modal-body {
    color: #333333; /* Ваш желаемый цвет текста */
}

.modal-header .close {
    color: #d9534f; /* Красный цвет */
    font-size: 1.5rem;
}

/* Изменяем цвет кнопок действия (например, Сохранить или Отменить) */
.modal-footer .btn {
    background-color: #5bc0de; /* Ваш желаемый цвет фона */
    color: white;
}

.modal-footer .btn-primary {
    background-color: #28a745; /* Зеленый для кнопки "Сохранить" */
}

.modal-footer .btn-secondary {
    background-color: #6c757d; /* Серый для кнопки "Отменить" */
}

.modal-dialog {
    max-width: 63%; /* Увеличивает ширину модального окна до 80% от ширины экрана */
    width: 63%;
}

.modal-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: space-between;
    flex-direction: row;
}

.modal-image-frame {
    flex: 1; /* Картинка занимает одну часть */
    text-align: center; /* Центрируем изображение */
}

    .modal-image-frame img {
        max-width: 100%; /* Изображение адаптируется под контейнер */
        height: auto;
    }

.text-content {
    margin-top: 20px;
    flex: 1; /* Текст занимает одну часть */
}

/* Адаптивность: перенос текста под изображение на узких экранах */
@media (max-width: 768px) {
    .modal-content-wrapper {
        flex-direction: column; /* Переключаемся на вертикальную компоновку */
        text-align: center; /* Центрируем текст */
    }
}

.modal-text {
    text-align: left;
    color: white;
    font-family: "Scada", serif;
    font-weight: 700;
    font-size: xx-large;
}
.talent, .passive-talent {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f900;
}

    .talent p, .passive-talent p {
        margin: 5px 0;
        text-align: left;
        color: white;
        font-family: "Scada", serif;
        font-weight: 700;
    }

    .talent strong, .passive-talent strong {
        color: #6784d7;
        font-size: larger;
        text-align: left;
        font-family: "Scada", serif;
        font-weight: 700;
    }

/* Материалы для прокачки */
.ascension-level {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f900;
}

    .ascension-level p {
        font-weight: bold;
        margin-bottom: 5px;
        color: #6784d7;
        font-size: larger;
        text-align: left;
        font-family: "Scada", serif;
        font-weight: 700;
    }

    .ascension-level ul {
        list-style-type: none;
        padding-left: 0;
    }

    .ascension-level li {
        margin: 5px 0;
        text-align: left;
        color: white;
        font-family: "Scada", serif;
        font-weight: 700;
    }

        .ascension-level li:before {
            content: "✔️";
            margin-right: 5px;
            color: #28a745;
        }

.heart-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.heart-button {
    background: none;
    border: none;
    font-size: 37px;
    cursor: pointer;
    color: red;
    outline: none;
    transition: transform 0.2s;
}

    .heart-button:hover {
        transform: scale(1.2);
    }

    .heart-button:focus {
        outline: none;
    }


.auth-container {
    max-width: 568px;
    margin: 109px auto;
    text-align: center;
    padding: 28px;
    background: #f9f9f92e;
    border-radius: 41px;
    box-shadow: 16px -16px 10px rgba(0, 0, 0, 0.1);
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.auth-form-label {
    margin-top: 33px;
    font-weight: bold;
    text-align: left;
}

.auth-form-input {
    padding: 10px;
    border: 1px solid #f3a7a7;
    border-radius: 12px;
    font-size: 18px;
    outline: none;
}

    .auth-form-input:focus {
        border-color: #0073e6;
    }

.auth-button {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background: #ff8686c4;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 47px;
}

    .auth-button:hover {
        background: #db4f4fc4;
    }
