@{
    ViewData["Title"] = "Client";
}
<div class="_container _container--indent l_k2">
    <div class="paper catalog-body">
        <div class="le_f1">
            <div class="le_b2">Избранное</div>
            
        </div>
        <div id="cards-container-client" class="cards-container">
            <!-- Карточки будут добавляться сюда -->
        </div>
    </div>
    <button id="logout-button" class="auth-button">Выйти</button>
    <div id="character-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="modal-title" class="modal-title"></h5>
                    <button type="button" id="close-modal-header" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="modal-body-" class="modal-body">
                    <div class="modal-content-wrapper">
                        <div class="image-frame">
                            <img src="" id="modal-image" width="400" alt="" />
                        </div>
                        <div class="text-content">
                            <p class="modal-text" id="character-title"></p>
                            <p class="modal-text"><strong>Element:</strong> <span id="character-element"></span></p>
                            <p class="modal-text"><strong>Rarity:</strong> <span id="character-rarity"></span></p>
                            <p class="modal-text"><strong>Weapon:</strong> <span id="character-weapon"></span></p>
                            <p class="modal-text"><strong>Nation:</strong> <span id="character-nation"></span></p>
                        </div>
                    </div>
                    <hr />
                    <div id="talents-section">
                        <h5 class="name-tittle">Talents</h5>
                        <div id="talents"></div>
                    </div>
                    <hr />
                    <div id="passive-talents-section">
                        <h5 class="name-tittle">Passive Talents</h5>
                        <div id="passive-talents"></div>
                    </div>
                    <hr />
                    <div id="ascension-materials-section">
                        <h5 class="name-tittle">Ascension Materials</h5>
                        <div id="ascension-materials"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="close-modal-footer" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/client.js"></script>

