@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="main-tittle">Добро пожаловать на <span class="name-tittle">CharacterGenshinBoost</span>!</h1>
    <h2 class="just-text">Ваш <span class="name-tittle">надежный гид</span> по миру Тейвата!</h2>

    <p class="just-text">На нашем сайте вы найдете все, что нужно для того, чтобы стать настоящим мастером в мире <span class="name-tittle">Genshin Impact</span>. Мы собрали для вас подробные гайды, стратегии и актуальную информацию о персонажах, артефактах, оружии и многом другом!</p>
    <div class="content-wrapper">
        <div class="text-content">
            <h2 class="just-text">Что мы предлагаем:</h2>
            <ul>
                <li class="just-text"><span class="name-tittle">Гайды по персонажам:</span> Узнайте, как лучше всего использовать каждого персонажа, какие билды и артефакты подходят именно ему, а также какие характеристики наиболее важны.</li>
                <li class="just-text"><span class="name-tittle">Каталог персонажей:</span> Ищете информацию о своем любимом герое? У нас вы найдете детальное описание всех персонажей игры, включая их умения, таланты и лучшие комбинации с другими героями.</li>
                <li class="just-text"><span class="name-tittle">Поиск по гайдям и материалам:</span> Наши инструменты поиска помогут вам легко находить нужные статьи, гайды или советы по любому аспекту игры. Просто введите запрос, и мы покажем вам лучшие результаты.</li>
                <li class="just-text"><span class="name-tittle">Обновления и новости (в будущем):</span> Следите за последними изменениями и событиями в игре с нашей помощью. Мы всегда держим вас в курсе самых актуальных новостей и обновлений.</li>
            </ul>
        </div>

        <!-- Картинка справа -->
        <div class="image-content">
            <div class="image-frame">
                <img src="https://cdn.discordapp.com/discovery-splashes/454052039899611136/a62812d3bd6fff06630e901185553cf0.jpg?size=2048" alt="Логотип Genshin Impact" width="400" />
            </div>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="image-content">
            <div class="image-frame">
                <img src="https://avatars.mds.yandex.net/i?id=04bf8ab66747ebba11c6d40c9e05a42e_l-5661278-images-thumbs&n=13" alt="Логотип Genshin Impact" width="400" />
            </div>
        </div>

        <div class="text-content">
            <h2 class="just-text">Почему стоит выбрать нас:</h2>
            <ul>
                <li class="just-text"><span class="name-tittle">Актуальная информация:</span> Все материалы обновляются в соответствии с последними патчами игры.</li>
                <li class="just-text"><span class="name-tittle">Пошаговые инструкции:</span> Каждый гайд сопровождается понятными пошаговыми инструкциями, чтобы вы могли сразу применить знания в игре.</li>
                <li class="just-text"><span class="name-tittle">Поддержка сообщества (в будущем):</span> Обменивайтесь опытом и советами с другими игроками, задавайте вопросы и делитесь своими стратегиями.</li>
            </ul>
        </div>
    </div>

    

    <p class="end-text">Присоединяйтесь к нам, исследуйте Тейват и станьте мастером в Genshin Impact с <span class="name-tittle">CharacterGenshinBoost</span>!</p>
</div>
